:root {
  
  --high-color: #45cae7;
  --text-color: #6db0bf;
  --dark-color: #001b30;
  --softdark-color: #003156;
  --soft-color: #004a86;
  --soft-transp-color: #45cae787;
  
/*

    --high-color: #7fe745;
  --text-color: #2c6916;
  --dark-color: #670000;
  --softdark-color: #b90000;
  --soft-color: #ff6060;


    --high-color: #232323;
  --text-color: #000000;
  --dark-color: #888888;
  --softdark-color: #b90000;
  --soft-color: #ffffff;
  */
}

.copyright {
  color: var(--high-color);
}

.tweet {
  margin-left: auto;
  margin-right: auto;
  /* border-bottom: 1px solid white; */
  padding-bottom: 30px;
  background-image: linear-gradient(to bottom, #0081cc , #008ada );
  /* height: 30px; */
  background: var(--dark-color);
  }

  .innertweet {
    margin-left: calc(50% - 250px);
    border-radius: 5px;
    background: #a2a2a200 !important;
    border: 0px solid #b0b0b0 !important;
  }
  
  .categorias {
    text-align: center;
    padding-top: 3px;
    display: none;
    padding-bottom: 5px;
    background: #a2a2a200;
    border-top: 1px solid #006097;
  }

  .tags {
    text-align: center;
    padding-top: 4px;
    margin-bottom: -3px;
    background: #0088d600;
    padding-bottom: 5px;
    border-top: 1px solid #006097;
    position: relative;
    top: 2px;
    font-size: 14px !important;
    color: var(--high-color);
    cursor: default;
  }
  .EmbeddedTweet-tweet {
    background: #80808061;
    border: 1px solid gray;
    border-radius: 0px;
  }

   .addpopup {
    max-width: 808px;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    top: calc(50% - 189px);
    width: 832px;
    height: 376px;
    background: #ffffff;
    color: #0081cd;
    left: calc(50% - 411px);
    padding-left: 10px;
    border: 1px solid #00629a;
    z-index: 9;
   }
 
   #expand {
    position: absolute;
    margin-top: 6px;
    left: 18px;
    cursor: pointer;
    font-size: 23px;
    color: var(--soft-color);
    background: var(--high-color);
    height: 18px;
    line-height: 20px;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 3px;
    transition: all 0.6s;
    z-index: 10;
    background: transparent;
    color: var(--high-color);
    left: auto;
   }

   .tweet:first-child #expand {margin-top: 6.5px;}
   #expand.expanded {
    margin-top: 3px;
    left: 5px;
   }
 

   #expand.infomodified {
    background: red;
    color: white;
  }

ol > li {
  margin-left: -3px;
  padding-bottom: 6px;
  padding-top: 2px;
  border-top: 1px solid #c7c7c7c2;
}
   #gotop {
    position: absolute;
    bottom: -46px;
    right: calc(50% - 19px);
    font-size: 29px;
    background: #ffffff87;
    /* opacity: 0.6; */
    padding-left: 8px;
    padding-right: 8px;
    font-weight: bold;
    padding-bottom: 2px;
    border-radius: 7px;
    color: var(--dark-color);
    cursor: pointer;
    border: 2px solid var(--soft-color);
    z-index: 13;
    display: none;
    background: var(--high-color);
    opacity: 1;
   }

   .fa-circle-o-notch {
      color: white;
      font-size: 55px;
      position: relative;
      top: calc(50% - 27px);
      left: calc(50% - 27px);

   }

.innermask {
    position: absolute;
    width: 100%;
    background: rgba(0, 0, 0, 0.31);
    top: -12px;
    z-index: 99999;
    height: 100%;
    display: block;
}
.gradiantback {
    position: absolute;
    width: 100%;
    background: rgba(0, 0, 0, 0.81);
    top: 19px;
    z-index: 9;
    height: 16px;
    background-image: linear-gradient(to bottom, var(--soft-color) 3%, var(--dark-color) 80%);
}
body.big .gradiantback {
    top: 27px;
}
 body.big .html .gradiantback {
    top: 24px;
}   
.innermask .fa-circle-o-notch {
  color: var(--high-color);
  position: relative;
  font-size: 24px;
  top: calc(50% - 12px);
  left: calc(50% - 12px);
  top: 42px;
}

   .fa-folder-open {
    color: var(--high-color);
    font-size: 122px;
    position: relative;
    top: calc(50% - 73px);
    left: calc(50% - 71px);
    border: 10px solid var(--high-color) !important;
    padding-left: 8px;
    padding-top: 5px;
    padding-right: 3px;
    height: 119px;
    border-radius: 0px;
    border-style: solid !important;
    border-left-color: transparent !important;
    border-right-color: transparent !important;
    border-width: 4px !important;
}
   .menubutton {
    font-size: 40px;
    background: #004a86;
    padding-left: 0px;
    padding-right: 5px;
    padding: 6px 11px;
    color: var(--high-color);
    background: #001b30;
    cursor: pointer;
    height: 44px;
    transition: all 0.4s;
    padding-bottom: 5px;
    width: 37px;
    background-image: linear-gradient(to bottom, #003056, #004a86);
    background: transparent;
    }
body.big .menubutton {
    font-size: 54px;
}
    
    .menubutton:hover {
      /* color: var(--dark-color); */
      opacity: 0.6;
    }
    #menu {
      width: 0px;
      overflow: hidden;
      position: fixed;
      background: white;
      transition: all 0.6s;
      border: 1px solid gray;
      border-left-width: 0px;
      position: absolute;
      left: -1px;
      top: 52px;
    }
    

    #menu > ul {
      list-style: none;
      margin: 0;
      padding-left: 0px;
    }

    #menu > ul > li {
      overflow: hidden;
      white-space: nowrap;
      padding: 10px 0px;
      padding-left: 17px;
      color: #005484;
      border-bottom: 1px solid #c1c1c1;
      cursor: pointer;
      transition: all 0.6s;
      font-weight: bold;
      position: relative;
    }
    #menu > ul > li > div {
    position: absolute;
    right: 3px;
    top: 12px;
    font-size: 13px;
    color: #0169bd;
    text-align: center;
    width: 25px;
    /* top: 10px; */
    }

    #menu > ul > li:hover {
      background: #004873;
      color: white;
    }

    #menu > ul > li:hover > div {
      color: #51b1ff;
    }

    .label {
      color: #0084d0;
      position: absolute;
      top: 8px;
      display: inline;
      font-size: 12px;
      font-weight: bold;
    }          
    
    .label.text {
      left: 124px;
    }
     
    .label.tag {
      left: 315px;
    }
              
    .label.author {
      left: 441px;
    }
              
    .label.date {
      left: 564px;
    }
              
    .label.id {
      left: 724px;
    }

    #sear {
      position: relative;
      color: #004a86;
      font-size: 22px;
      padding-left: 7px;
      padding-right: 17px;
      top: -7px;
      cursor: pointer;
      transition: all 0.6s;
    }
.toptitle {
  color: var(--high-color) !important;
  text-shadow: 3px 3px #c5c5c5;
  cursor: default;
  font-weight: bold;
  width: calc(100% - 280px);
  background: transparent;
  left: 0 !important;
  text-align: center;
  margin-left: 140px;
  top: 8px;
  font-size: 30px;
  position: absolute;
  transition: all 1s;
}
button {
  cursor: pointer;
  background: #0084d0;
  border: 1px solid white;
  height: 27px;
  color: white;
  font-weight: bold;
  font-size: 12px;
  padding-top: 3px;
  min-width: 82px;
  font-variant: small-caps;
  border-radius: 4px;

}
button:not(.noeffect) {
  transition: all 0.6s; /* xyx */
}
button:hover {
  color: #c6e9fd;
  border: 1px solid #0090e4;
}
button > i {
  font-size: 14px !important;
  font-weight: normal !important;
  padding-left: 5px;
  padding-right: 2px;
  float: right;
  position: relative;
  top: -1px;
}

.buttonIcon {
  color: white;
  font-size: 22px;
  transition: all 0.6s;
}
.buttonIcon:hover {
  color: #e4e4e4;
}
.buttonIcon.addtweet {
  float: right;
  margin-top: 18px;
  margin-right: 11px;
  margin-right: 11px;
}

#addtweet {
  position: absolute;
  color: var(--high-color);
  font-size: 28px;
  top: 11.5px;
  right: 15px;
  transition: all 0.6s;
  cursor: pointer;
}
#zoomin {
    position: absolute;
    color: var(--high-color);
    font-size: 20px;
    top: 15px;
    right: 74px;
    transition: all 0.6s;
    cursor: pointer;
}
body.big #zoomin {
    font-size: 21px;
    top: 22px;
    right: 81px;
}

#settings {
    position: absolute;
    font-size: 20px;
    top: 14px;
    right: 54px;
    transition: all 0.6s;
    cursor: pointer;
    background: #00a900;
    padding: 2px;
    border-radius: 5px;
    color: var(--dark-color);
    background: var(--high-color);
}
#settings:hover {
    opacity: 0.4;
    opacity: 0.6;
}
#generateicon.haschanges {
      color: #e88e0b;
}
    #addtweet:hover {
      /* color: var(--soft-color); */
      opacity: 0.6;
    }

    #sear:hover {
      /* color: var(--soft-color); */
      opacity: 0.6;
    }
    .top {
      display: none;
    }

    #closepopup {
      position: absolute;
      color: #0082cd;
      font-size: 27px;
      top: 14px;
      right: 2px;
      transition: all 0.6s;
      cursor: pointer;
    }

        #updatemaxid {
      /* position: absolute; */
      /* color: #0082cd; */
      /* font-size: 15px; */
      /* top: 43px; */
      /* right: 6px; */
      /* transition: all 0.6s; */
      /* cursor: pointer; */
    }

   #removetmp {
      /* position: absolute; */
      /* color: #0082cd; */
      /* font-size: 18px; */
      /* top: 61px; */
      /* right: 5px; */
      /* transition: all 0.6s; */
      /* cursor: pointer; */
    }
    
    input[type="checkbox"] {
      cursor: pointer;
    }

    html, body {
      scroll-behavior: auto;
      font-variant: small-caps;
    }
    
    
    #closepopup:hover {
      color: #e4e4e4;
    }

    #externallink {
      position: absolute;
      cursor: pointer;
      left: 87px;
      margin-top: 2px;
      font-size: 16px;
      transition: all 0.6s;
      display: none;
    }

    .fa-square-o {
      right: 23px;
      font-size: 21px;
      margin-top: -2px;
      font-weight: bold;
      position: absolute;
      cursor: pointer;
      transition: all 0.6s;
    }
    #internallink {
      position: absolute;
      cursor: pointer;
      left: 52px;
      margin-top: 2px;
      font-size: 16px;
      transition: all 0.6s;
      display: none;
    }

    #internallink:hover, .linkbar:hover, #externallink:hover, #expand:hover {
      opacity: 0.6;
     }

     input[type=text] {
      color: white;
      font-weight: bold;
      background: #007cc391;
      border: 1px solid var(--dark-color);
      color: var(--dark-color);
    background: var(--high-color);
      padding-left: 4px;
      padding-right: 4px;
      font-family: Helvetica, Roboto, "Segoe UI", Calibri, sans-serif;
      font-variant-caps: normal;
     }

    #removetweet {
      position: absolute;
      cursor: pointer;
      font-size: 26px;
      left: 40px;
      margin-top: 0px;
      font-size: 19px;
  }

  #changetag {
    position: absolute;
    cursor: pointer;
    font-size: 26px;
    left: 73px;
    margin-top: 1px;
    font-size: 16px;
}

#changecat {
  position: absolute;
  cursor: pointer;
  margin-top: 1px;
  left: 108px;
  font-size: 16px;
}

.tagtext {
  color: white;
  font-size: 20px;
  position: relative;
  top: calc(50% - 27px);
  left: calc(50% - 250px);
  border: 1px solid white;
  background: #0084d2;
  width: 546px;
  padding-bottom: 9px;
  text-align: center;
}

.striptext {
  font-size: 20px;
  position: relative;
  top: calc(50% - 27px);
  /* left: calc(50% - 273px); */
  border: 1px solid var(--soft-color);
  background: var(--high-color) !important;
  /* width: 546px; */
  padding-bottom: 9px;
  text-align: center;
  border-radius: 4px;
  font-variant: small-caps;
  transition: top 1s;
  margin-left: 10px;
  margin-right: 10px;
  color: var(--softdark-color);
}

#stripmessage {
      position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    top: 100%;
    z-index: 999999999;
    transition: top 1s ease 0s;
    display: none;
}

.striptext .poptitle {
    position: relative;
    top: 3px;
    font-size: 16px;
    text-align: center;
    text-transform: lowercase;
    width: calc(100% - 87px);
    display: block;
    padding-left: 36px;
    font-weight: bold;
}


.topoback {
  background: white;
  width: 100%;
  height: 52px;
  position: absolute;
  z-index: -1;
  border: 0px solid #004a86;
  width: calc(100% - 0px);
  height: 55px;
  background-image: linear-gradient(to bottom, #004a86 85%, #0081cd 95%);
}

.iconbutton {
  position: relative;
  cursor: pointer;
  background: white;
  color: #0082cd;
  padding: 3px 6px;
  font-size: 21px;
  border-radius: 4px;
  width: 18px;
}

.fa-spin {
  animation-duration: 1s;
}

/* twitter-widget {
  width: 100% !important;
}
*/

.linkIframeExpanded {
    border: 1px solid white;
    width: calc(100% - 52px) !important;
    background: white;
    margin-left: 25px !important;
    margin-right: 25px !important;
    position: relative;
    top: 4px;
}

.linkIframeCollapsed {
    width: 500px !important;
    background: white !important;
    margin-top: 6px !important;
    height: 446px !important;
    margin-left: calc(50% - 250px) !important;
    margin-right: auto;
    border: 1px solid white;
    border-radius: 5px;
}


.linkExpanded {
    width: calc(100% - 50px) !important;
    background: white;
    margin-left: 25px !important;
    margin-right: 25px !important;
    position: relative;
    /* top: 4px; */
    border-radius: 5px;
}

twitter-widget {
  width: auto;
}

.linkExpanded twitter-widget {
  width: auto !important;
}

.linkbar {
      font-size: 19px;
      border: 0px solid transparent;
      padding: 0px 4px;
      border-radius: 4px;
      position: absolute;
      right: 13px;
      top: -7px;
      color: var(--high-color);
      background: transparent;
      z-index: 9;
      cursor: pointer;
      transition: all 0.6s;
}

.linkbar.fa-internet-explorer {
      font-size: 17px;

}

.hidemode {
  display: none !important;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}


.litags {
  display: inline-block;
  margin-bottom: 6px;
  height: 21px;
  font-size: 13px;
  font-weight: bold;
  border: 1px solid var(--high-color);
  padding-top: 6px;
  background: #0069a621;
  padding-left: 2px;
  padding-right: 2px;
  margin-right: 7px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.7s;
  color: #004f7d;
}

.litags:hover {
  color: var(--dark-color);
  background: var(--high-color);
}

.litags.selectedtag {
  color: var(--dark-color);
  background: var(--high-color);
}

.litags.selectedtag:hover {
  color: var(--high-color);
  background: var(--soft-color);
}

.litags:not(.selectedtag):hover {
    color: var(--dark-color);
    background: var(--high-color);
}

#backdiv {
  background-image: linear-gradient(to bottom, #0081cd, #008ada) !important;
}
.tweet iframe {
    position: relative;
    top: 4px;
    width: 500px;
    background: white;
    margin-top: 6px;
    height: 446px;
    margin-left: calc(50% - 250px);
    margin-right: auto;
    border: 1px solid #979797;
    border-radius: 5px;
    height: 55vw;
}

.gradiantback {
  display: none;
}

.bottomgradiantback {
  display: none;
}

.newlink {
  background: #009b00;
  color: white;
}
.changedlink {
  background: #fa1f1f;
  color: white;
}
.newchangedlink {
  background-image: linear-gradient(to bottom, #009b00 21%, #fa1f1f 80%);
  color: white;
}

.newtag {
  border-bottom: 2px solid #00c400;
}





.newLayout > div {
    margin-left: calc(50% - 183px) !important;
    width: 361px !important;
}


.buttonstable .author {
      max-width: 166px !important;
}
body.big .buttonstable .author {
       max-width: 124px !important;
       top: 5px !important;
}


.newLayout > div .titletable tr:first-child .firsttd {
    min-width: 345px;
} 
body.big .newLayout > div .titletable tr:first-child .firsttd {
    min-width: 345px;
} 

.brsep {
  display: none;
}   

.topoback {
    background: white;
    width: 100%;
    height: 52px;
    position: absolute;
    z-index: -1;
    border: 0px solid #004a86;
    width: calc(100% - 0px);
    height: 62px;
    background-image: linear-gradient(to bottom, var(--softdark-color), var(--soft-color));
    /* background: transparent; */
  } 
body.big .topoback {
    height: 76px;
}     


body.big #backdiv {
  top: 64px !important;
  height: calc(100% - 64px) !important;
} 
#main {
      margin-top: 2px !important;
}
body.big #main {
      margin-top: 20px !important;
}  
.newLayout {
    margin-top: 52px !important;
    height: 60000000px !important;
}

.newLayout > div {
    /* margin-top: 20px !important; */
    /* max-height: calc(100% - 75px) !important; */
}
body.big .newLayout > div {
    margin-top: 12px !important;
    max-height: calc(100% - 29px) !important;
} 
body.big .newLayout {
    margin-top: 64px !important;
    /* height: calc(100% - 49px) !important; */
}


.toptitle {
  top: 20px;
  font-size: 18px;
  /* padding-left: calc(50% - 103px); */
  display: block;
  text-align: center;
  width: 190px;
  line-height: 15px;
  font-weight: bold;
  left: calc(50% - 95px) !important;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  text-shadow: none;
  color: #5c8cb3;
  color: #7ba8ca;
  cursor: pointer;
  transition: all 0.6s;
}
.toptitle:hover {
  opacity: 0.6 !important;
}
body.big .toptitle {
  top: 27px;
  font-size: 25px;
  width: 266px;
  line-height: 15px;
  left: calc(50% - 133px) !important;
}
#settings {
  font-size: 15px;
  top: 16px;
  right: 40px;
  padding-left: 3px;
  padding-right: 4px;
 } 
body.big #settings {
  font-size: 19px;
  top: 22px;
  right: 44px;
  padding-left: 1px;
 }  
#addtweet {
  font-size: 22px;
  top: 14px;
}  
body.big #addtweet {
  font-size: 26px;
  top: 21px;
}  

.tweet .innertweet {
    position: relative;
    top: 10px;
    border-radius: 5px;
    border: 1px solid white;
    /* width: calc(100% - 0px) !important; */
    margin-left: calc(50% - 350px) !important;
    margin-right: 0px !important;
    top: -12px;
    max-width: 700px;
}  
.tweet {
  padding-bottom: 0px;
  position: relative;
  top: 0px;
  height: calc(100% - 43px);
  background: var(--dark-color);
}
.tweet:first-child {
      margin-top: 11px;
}
.tags {
  padding-top: 5px;
  margin-bottom: 0px;
  background: #0088d600;
  padding-bottom: 5px;
  border-top: 0px solid #d00b0b;
  position: relative;
  top: -11px;
  height: 21px;
  border-bottom-width: 0px !important;
  background: var(--soft-color) !important;
  /* z-index: 9; */
  padding-left: calc(50% - 294px);
  text-align: left;
}   

.linkbar {
    left: calc(50% - 330px);
}
body.big .linkbar {
    left: calc(50% - 334px);
}
#expand {
    right: calc(50% - 334px);
}
body.big #expand {
    right: calc(50% - 331px);
}
.gradiantback {
    display: block;
}
    .bottomgradiantback {
    display: block;
}
  .yt .gradiantback {
    position: absolute;
    width: 100%;
    background: rgba(0, 0, 0, 0.81);
    /* top: 9px; */
    z-index: 9;
    /* height: 23px; */
    display: block;
    background-image: linear-gradient(to bottom, var(--soft-color) 10%, var(--dark-color) 83%);
}
  .html .gradiantback {
    position: absolute;
    width: 100%;
    background: rgba(0, 0, 0, 0.81);
    top: 12px;
    z-index: 9;
    height: 18px;
    display: block;
    background-image: linear-gradient(to bottom,var(--soft-color) -4%, var(--dark-color) 105%);
}
.tweet:not(:last-child) .bottomgradiantback {
  position: absolute;
  width: 100%;
  background: rgba(0, 0, 0, 0.81);
  z-index: 9;
  height: 21px;
  background-image: linear-gradient(to bottom, var(--dark-color) 3%, var(--soft-color) 80%);
  top: auto;
  bottom: -1px;
}
body:not(.big) .tweet:not(:last-child) .bottomgradiantback {
  height: 19px;
  top: auto;
  bottom: 4px;
}
.tweet:last-child .bottomgradiantback {
  position: absolute;
  width: 100%;
  background: rgba(0, 0, 0, 0.81);
  z-index: 9;
  height: 24px;
  background-image: linear-gradient(to bottom, var(--dark-color) 3%, var(--softdark-color) 80%);
  top: auto;
  bottom: -5px;
}
.tweet.html:not(:last-child) .bottomgradiantback {
    bottom: 0px;
}


.yt.tweet .bottomgradiantback {
  background-image: linear-gradient(to bottom, var(--dark-color) 13%, var(--soft-color) 80%);
  }
body:not(.big) .yt.tweet .bottomgradiantback {
  /* height: 15px; */
  /* bottom: 6px; */
  }     
  .html.tweet .bottomgradiantback {
  background-image: linear-gradient(to bottom, var(--dark-color) 15%, var(--soft-color) 85%);
} 
  .tweet iframe {
  width: calc(100% - 0px) !important;
  margin-left: 0px !important;
  margin-right: 12px !important;
  border-radius: 0px !important;
  border-top: 0 !important;
  margin-bottom: 1px;
  margin-top: 0px !important;
  border: 0px solid white;
  }
  .tweet.html iframe {
    margin-top: 11px !important;
    }
  .tweet.yt iframe {
    margin-top: 4px !important;
    height: 369px;
    }

  .tweet.html iframe {
      width: calc(100% - 0px) !important;
      border: 0px solid #bbbbbb;
      height: 48vw;
  }

          .tweet.yt {
      /* background: #101010; */
  }
          .tweet.html {
      /* background: #002646; */
      top: 0px;
  }
  #backdiv {
    background-image: linear-gradient(var(--soft-color), var(--softdark-color)) !important;
  }

.tweet iframe {
  position: relative;
  top: 10px;
  border-radius: 5px;
  border: 0px solid white;
  width: calc(100% - 0px) !important;
  margin-left: calc(50% - 327px) !important;
  margin-right: 0px !important;
  top: -12px;
  max-width: 656px;
}   
.tags {
  font-size: 12px !important;
  top: -5px;
}
body.big .tags {
  font-size: 17px !important;
  height: 32px;
  top: 0px;
}
.newLayout.mainsettings > div {
    max-height: calc(100% - 66px) !important;
    margin-top: calc(50% - 108px) !important;
}    

                                 
@media only screen and (max-width: 1000px) {
      body.big .newLayout > div .titletable tr:first-child .firsttd {
        min-width: 466px !important;
    } 

    .newLayout > div {
        max-height: calc(100% - 66px) !important;
        margin-top: -10px !important;
    }  
    
    body.big .newLayout > div {
        margin-top: 0px !important;
        max-height: calc(100% - 77px) !important;
    }    
    .fa-folder-open {
        font-size: 74px;
        height: 76px;
        top: calc(50% - 62px);
        left: calc(50% - 47px);
    }  
    .tweet.yt iframe {
        margin-top: 4px !important;
        height: 305px;
    }
    .tweet iframe {
      position: relative;
      top: 10px;
      border-radius: 5px;
      border: 0px solid white;
      width: calc(100% - 0px) !important;
      margin-left: calc(50% - 236px) !important;
      margin-right: 0px !important;
      top: -12px;
      max-width: 470px;
    }  

      .tweet .innertweet {
        position: relative;
        top: 10px;
        border-radius: 5px;
        border: 1px solid white;
        /* width: calc(100% - 0px) !important; */
        margin-left: calc(50% - 249px) !important;
        margin-right: 0px !important;
        top: -12px;
        max-width: 498px;
    }
     .linkbar {
        left: calc(50% - 240px);
        top: 0px !important;
    }
    body.big .linkbar {
        left: calc(50% - 243px);
        top: 2px !important;
    }
    #expand {
        right: calc(50% - 237px);
    }
    body.big #expand {
        right: calc(50% - 241px);
        top: 8px !important;
    } 
    .tags {
      font-size: 12px !important;
      top: -5px;
    }
    body.big .tags {
      font-size: 17px !important;
      height: 32px;
      top: -3px;
    }
    .tweet .tags {
      padding-left: calc(50% - 209px);
      /* margin-left: calc(50% - 268px); */
      /* width: 480px; */
      /* border-bottom-left-radius: 18px; */
      /* border-bottom-right-radius: 18px; */
    }
    .tweet:nth-of-type(1) .tags {
      padding-left: calc(50% - 199px);
    }    
    .tweet:not(:nth-of-type(1)) .gradiantback {
      /* padding-left: calc(48px); */
      /* margin-left: calc(50% - 268px); */
      /* width: 480px; */
      /* border-bottom-left-radius: 20px; */
      /* border-bottom-right-radius: 20px; */
    }   
    .tweet.yt .gradiantback {
      top: 16px;
    } 
    body.big .tweet.yt .gradiantback {
      top: 26px;
    }             
    .bottomgradiantback:not(:first-of-type) {
      /* padding-left: calc(48px); */
      /* margin-left: calc(50% - 268px); */
      /* width: 480px !important; */
      /* border-top-left-radius: 10px; */
      /* border-top-right-radius: 10px; */
    }      
}






  twitter-widget {
      width: 100% !important;
  }
  .fa-square-o {
    display: none;
  }


  .tagtext {
  height: 101px;
  }



  #openadd {
    right: 129px !important;
  }

#backdiv {
/* background-image:linear-gradient(rgb(0, 104, 165), rgb(0, 139, 222)) !important; */
}
#sear {
    position: relative;
    color: var(--high-color);
    font-size: 18px;
    padding-left: 7px;
    padding-right: 17px;
    top: -9px;
    cursor: pointer;
    transition: all 0.6s;
}
body.big #sear {
    font-size: 25px;
    padding-left: 17px;
    padding-right: 17px;
    top: -12px;
}
.tweetcount {
  background: rgba(255, 255, 255, 0.65) !important;
}
 #expand {
    margin-top: -6px;
    left: 18px;
  }     
  .tweet:first-child #expand {
      margin-top: -7px;
  }  

  .innermask {
      background: rgba(0, 0, 0, 0.81);
  }
.newLayout > div {
    margin-left: calc(50% - 241px) !important;
    width: 482px !important;
}
.buttonstable .author {
      max-width: 287px !important;
  }
  body.big .buttonstable .author {
       max-width: 222px !important;
       /* min-width: 222px; */
  }
  .newLayout > div .titletable tr:first-child .firsttd {
      min-width: 466px;
  }
  body.big .newLayout > div .titletable tr:first-child .firsttd {
      min-width: 345px;
  } 

  .buttonstable .datespan {
      position: relative !important;
      top: 0px;
  }  
  .buttonstable .date {
      position: relative !important;
      top: 0px;
  }         


body.big #editTags {
  margin-top: 93px !important;
}
.sectionicontd {
  transition: all 0.6s;
}

.newLayout:not(.new):not(.mainsettings) table .sectionicontd:hover {
  opacity: 0.6;
}
.newLayout.new div table tr .td {
  cursor: default !important;
}
.newLayout.new div table tr .td:hover {
  cursor: default !important;
}
.sectionedittd {
  transition: all 0.6s;
}
.sectionedittd:hover {
  opacity: 0.6;
}
.mainbutton {
  transition: all 0.6s;
}
.mainbutton:hover {
  opacity: 0.6;
}


@media only screen and (max-width: 700px) {
    .fa-folder-open {
        font-size: 86px;
        height: 85px;
        top: calc(50% - 66px);
        left: calc(50% - 55px);
    }
    .tweet iframe {
        position: relative;
        top: 10px;
        border-radius: 5px;
        border: 0px solid white;
        width: calc(100% - 0px) !important;
        margin-left: 0 !important;
        margin-right: 0px !important;
        top: -12px;
        max-width: 470px;
        height: 61vw !important;
    }
    .tweet.html iframe {
        height: 100vw !important;
    }  
    .tweet .innertweet {
        position: relative;
        top: 10px;
        border-radius: 5px;
        border: 1px solid white;
        width: calc(100% - 0px) !important;
        margin-left: 0 !important;
        margin-right: 0px !important;
        top: -12px;
        max-width: none;
    }
    body.big #expand {
        right: calc(50% - 241px);
        top: 10px !important;
    }     
  .newLayout > div {
        /* margin-top: 20px !important; */
        /* max-height: calc(100% - 180px) !important; */
    }
    body.big .newLayout > div {
        margin-top: 14px !important;
        max-height: calc(100% - 75px) !important;
    } 
    .tags {
      padding-left: 38px !important;
    }   
    body.big .tags {
      padding-left: 42px !important;
      top: -2px;
    }   
    
    #expand {
        right: 11px;
    }
    body.big #expand {
        right: 13px;
    }  
    .linkbar {
        left: 9px;
        top: -1px !important;
    }
    .linkbar.fa-youtube-play {
        top: 0px !important;
    }    
    .linkbar.fa-internet-explorer {
        top: 0px !important;
    }      
    body.big .linkbar {
        left: 8px;
        top: 1px !important;
    }
    body.big .linkbar.fa-youtube-play {
        top: 3px !important;
    }    
    body.big .linkbar.fa-internet-explorer {
        top: 4px !important;
    }     
  .toptitle {
      top: 12px;
      font-size: 13px;
      /* padding-left: calc(50% - 103px); */
      display: block;
      text-align: center;
      width: 100px;
      line-height: 15px;
      font-weight: bold;
      left: calc(50% - 50px) !important;
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      text-shadow: none;
      color: #5c8cb3;
      color: #7ba8ca;
  }  
   body.big .toptitle {
      top: 18px;
      font-size: 15px;
      width: 100px;
      line-height: 15px;
      left: calc(50% - 50px) !important;
  }   
    
        #openadd {
          right: 115px !important;
        }
    #zoomout {
        position: absolute;
        color: var(--high-color);
        font-size: 15px;
        top: 18px;
        right: 94px;
        transition: all 0.6s;
        cursor: pointer;
    }
    .newLayout > div {
        margin-left: calc(50% - 183px) !important;
        width: 361px !important;
    }
    .buttonstable .author {
          max-width: 163px !important;
      }
      body.big .buttonstable .author {
           max-width: 229px !important;
      }
      .newLayout > div .titletable tr:first-child .firsttd {
          min-width: 345px;
      }
      .newLayout.mainsettings > div .titletable tr:first-child .firsttd {
          min-width: 319px;
      }
      body.big .newLayout > div .titletable tr:first-child .firsttd {
          min-width: 345px !important;
      }     
  
      body.big .brsep {
          display: inline;
      }  
      
      body.big #editTags {
        margin-top: 120px !important;
      }
}




.newLayout > div {
    background: var(--dark-color);
    max-height: calc(100% - 60px);
    width: calc(100% - 50px);
    margin: 25px;
    border: 1px solid var(--soft-color);
    margin-top: 32px;
    margin-bottom: 28px;
    border-radius: 4px;
    font-size: 12px;
    color: #004a86;
    padding-bottom: 8px;
    overflow-y: auto;
    margin-left: calc(50% - 183px);
    width: 361px;
    /* touch-action: none; */
    overscroll-behavior: none;
}
#zoomin:hover {
    /* color: var(--soft-color); */
    opacity: 0.6;
}
#zoomout:hover {
    color: var(--soft-color);
}
    
.newLayout {
    position: fixed;
    width: 100%;
    height: calc(100% - 0px);
    top: 0px;
    z-index: 1000000;
    font-size: 11px;
    background-image: linear-gradient(rgb(0, 74, 134), rgb(1, 36, 62));
    display: none;
    border-top: 1px solid var(--softdark-color);
    background: var(--soft-transp-color);
    border-top: 1px solid transparent;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    /* bottom: 0; */
    right: 0;
    /* display: flex; */
    align-items: center;
    background: #0000009c;
    touch-action: none;
    overscroll-behavior: none;
    margin-top: 49px;
}

.newLayout > div {
    background: var(--dark-color);
    max-height: calc(100% - 60px);
    width: calc(100% - 50px);
    margin: 25px;
    border: 1px solid var(--soft-color);
    margin-top: -24px;
    margin-bottom: 28px;
    border-radius: 4px;
    font-size: 12px;
    color: #004a86;
    padding-bottom: 8px;
    overflow-y: auto;
    margin-left: calc(50% - 183px);
    width: 361px;
    /* touch-action: none; */
    overscroll-behavior: none;
    position: fixed;
    top: 65px;
    max-height: calc(100% - 180px);
    margin-top: 20px;
}

.newLayout > div .titletable {
    font-size: 14px;
    /* width: 100%; */
    margin-top: -1px;
    border-top: -4px solid var(--soft-color);
    padding-top: 3px;
    color: var(--high-color);
    position: fixed;
    background: red;
    padding-bottom: 6px;
    /* width: calc(100% - 52px); */
    z-index: 1;
    background: var(--dark-color);
    /* background: green; */
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    /* border-bottom: 1px solid var(--soft-color); */
    border-spacing: 3px 0px;
    border-collapse: separate;
    max-width: none;
    overflow: hidden;
    display: block;
    /* width: calc(100% - 22px); */
}

.newLayout > div .author {
  color: var(--text-color);
}

.newLayout > div .id {
  color: var(--text-color);
}
.newLayout > div .date {
  color: var(--text-color);
}
.newLayout > div .titletable tr:first-child .firsttd {
    width: 100%;
    padding-left: 0px;
    padding-bottom: 14px;
    text-align: center;
    padding-top: 5px;
    /* min-width: 466px; */
}

.newLayout > div .titletable .middletd {
    width: 50%;
    text-align: center;
}

.newLayout > div .titletable .lasttd {
    width: 25%;
    text-align: right;
    padding-right: 10px;
}

.newLayout > div .buttonstr td { 
    transition: all 0.6s;
    cursor: pointer
}

.newLayout > div .buttonstr td:hover { 
    opacity: 0.6;
}

.newLayout > div .buttonstable tr:last-child td {
    padding: 4px 0px 3px 0px;
    background: var(--soft-color);
    width: 25%;
    /* margin-right: 5px; */
    /* display: inline-block; */
    /* width: calc(25% - 0px); */
    /* margin-left: 0px; */
}


.newLayout #removetweetp {
    cursor: pointer;
    font-size: 27px;
    position: initial;
}

.newLayout #internallinkp {
    position: initial;
    cursor: pointer;
    font-size: 15px;
    transition: all 0.6s;
    display: initial;
    position: relative;
    top: 0px;
}

.newLayout #externallinkp {
    position: initial;
    cursor: pointer;
    font-size: 17px;
    transition: all 0.6s;
    display: initial;
    position: relative;
    top: 2px;
}

.newLayout #closepopupp {
    display: block;
    cursor: pointer;
    font-size: 18px;
    transition: all 0.6s;
    line-height: 18px;
}

body.big .newLayout #editTags.sectiontitletable tr:first-child td {
  /* padding-top: 7px;;
  /* color: #b2cbde; */
  /* padding-bottom: 16px; */
}


.newLayout .sectiontitletable .sectionicontd {
  width: 94%;
  text-align: left;
  padding-left: 9px;
  padding-bottom: 6px;
  /* position: relative; */
  /* top: 0px; */
}


body.big .newLayout .sectiontitletable .sectionicontd {
    padding-top: 4px !important;
}

body .newLayout #editTags .sectionicontd:first-child {
    width: 48px !important;
}

body.big .newLayout #editTags .sectionicontd:first-child {
    width: 56px !important;
}

body .newLayout #editCats .sectionicontd:first-child {
    width: 87px !important;
}

body.big .newLayout #editCats .sectionicontd:first-child {
    width: 106px !important;
}

body .newLayout #editClassif .sectionicontd:first-child {
    width: 107px !important;
}

body.big .newLayout #editClassif .sectionicontd:first-child {
    width: 133px !important;
}

body .newLayout #editInfo .sectionicontd:first-child {
    width: 42px !important;
}

body.big .newLayout #editInfo .sectionicontd:first-child {
    width: 55px !important;
}





.newLayout .titletext {
  text-align: left;
  padding-left: 14px;
  color: var(--text-color);
  line-height: 19px;
  /* position: relative; */
}

.newLayout .sectiontitletable .sectiontitletd {
  width: 70%;
  text-align: center;
  font-weight: bold;
  /* padding-top: 2px; */
}

.newLayout .sectiontitletable .sectionedittd {
  width: 15%;
  text-align: right;
  padding-right: 5px;
  font-size: 15px;
  vertical-align: top;
}

.newLayout .sectiontitletable .sectionedittd i {
  position: relative;
  top: -2px;
  font-size: 11px;
  position: relative;
  width: 11px;
}

.newLayout .detailtable, .newLayout .sectiontitletable {
    width: calc(100% - 14px);
    background: var(--softdark-color);
    margin-left: 0px;
    color: var(--high-color);
    padding: 4px;
    /* margin-top: 65px; */
    margin-left: 7px;
    /* background-image: linear-gradient(to bottom, var(--softdark-color), var(--dark-color)); */
}

.newLayout .sectiontitletable {
    margin-top: 7px;
}

.newLayout .sectionexpandable {
    overflow: hidden;
    display: block;
    width: calc(100% - 22px);
    transition: max-height .5s;
    max-height: 21px;
    height: 100%;
}



.newLayout .detailtable {
    padding: 3px 5px;
    color: #b2cbde;
    transition: height 0.6s;
    background-image: linear-gradient(to bottom, var(--softdark-color), var(--dark-color) 150%);
}
.newLayout .detailtable tr {
    vertical-align: super;
}

.boldtitle {
    font-weight: bold;
    color: var(--high-color);
}


.newLayout #addtaginput {
    width: 100px;
    color: var(--dark-color);
    font-weight: normal !important;
    background: var(--high-color);
    padding: 1px 4px;
    border: 1px solid #002133;
    outline: none;
}

.newLayout textarea {
    width: 100px;
    color: var(--dark-color);
    /* font-weight: bold; */
    background: var(--high-color);
    padding: 4px 8px;
    border: 1px solid #002133;
    outline: none;
    font-size: 17px;
    font-family: Helvetica, Roboto, "Segoe UI", Calibri, sans-serif;
    font-variant-caps: normal;
}
.newLayout ul {
    width: 100%;
    height: 100%;
    padding-left: 3px;
    padding-top: 3px;
    overflow-y: auto;
    z-index: 99;
    display: block;
    margin-top: 6px;
    margin-bottom: 0;
}
.newLayout ul#classiful {
    height: 100%;
}
.newLayout ul li {
    color: var(--high-color);
    cursor: pointer;
    padding: 5px 4px;
    height: 18px;
    padding-right: 3px;
    padding-bottom: 3px;
    background: var(--soft-color);
}

.newLayout ul#classiful li {
    min-width: 13px;
    padding-right: 4px;
    margin-right: 7px;
    margin-bottom: 13px;
}


.newLayout select {
    height: 19px;
    width: 100px;
    outline: none;
    margin-left: 8px;
    position: relative;
    color: var(--dark-color);
    font-weight: bold;
    background: var(--high-color);
    padding: 0px 4px;
    border: 1px solid var(--dark-color);
    top: -1px;
    cursor: pointer;
}

/****************************************/

select {
    height: 19px;
    width: 100%;
    outline: none;
    color: #002133;
    font-weight: normal !important;
    background: #a6b9fd;
    padding: 1px 4px;
    border: 1px solid #002133;
    cursor: pointer;
    font-family: Helvetica, Roboto, "Segoe UI", Calibri, sans-serif !important;
    font-variant-caps: normal !important;
}

input {
    width: 100%;
    color: #002133;
    font-weight: bold;
    background: #a6b9fd;
    padding: 1px 4px;
    border: 1px solid #002133;
    font-variant: small-caps;
}
select, textarea {
    font-variant: small-caps;
}
.newLayout .fa-bookmark {
    font-size: 14px;
    position: relative;
    top: 0px;
    left: -3px;
}
body.big .newLayout .fa-bookmark {
    font-size: 18px;
    top: 0px;
    left: -1px;
}

.newLayout .fa-star-half-o {
    font-size: 15px;
    position: relative;
    top: 0px;
    left: -4px;
}
body.big .newLayout .fa-star-half-o {
    font-size: 20px;
    top: -2px;
    left: -3px;
}

.newLayout .fa-file-text {
    font-size: 12px;
    position: relative;
    top: 0px;
    left: -3px;
}
body.big .newLayout .fa-file-text {
    font-size: 17px;
    top: -1px;
    left: -1px;
}

.mainbutton {
    color: var(--high-color);
    cursor: pointer;
}

.smallrem {
    font-size: 0.7rem;
}

.topoback2 {
    background: white;
    left: 57px;
    width: calc(100% - 68px);
    top: 7px;
    height: 34px;
    border-radius: 5px;
    border: 2px solid #707070;
    border: 2px solid var(--dark-color);
    background: var(--dark-color);
}
body.big .topoback2 {
    left: 66px;
    width: calc(100% - 77px);
    top: 9px;
    height: 45px;
}

::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

.newLayout > div::-webkit-scrollbar { width: 0 !important }
.newLayout > div { overflow: -moz-scrollbars-none; }
.newLayout > div { -ms-overflow-style: none; }

input[type="checkbox"] {
    /* display:none; */
}

.checkstyleddiv {
    width: 107px;
    display: inline-block;
}

.checkstyleddiv input {
    position: relative;
    top: 10px;
    left: -50px;
    z-index: 1;
    opacity: 0;
}

body.big .checkstyleddiv input {
    top: 10px;
    left: -48px;
}
input[type="checkbox"] + label {
    color: var(--text-color);
}

input[type="checkbox"] + label span {
    display:inline-block;
    width: 16px;
    height: 15px;
    margin: -2px 2px 0 0px;
    vertical-align:middle;
    background:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/check_radio_sheet.png) left top no-repeat;
    cursor:pointer;
    background: red;
    border-radius: 4px;
    border: 1px solid var(--high-color);
    background: var(--dark-color);
}

input[type="checkbox"] + label span i {display: none;font-size: 8px;position: relative;top: 3px;left: 5px;transition: all 0.6s;color: var(--high-color);}

input[type="checkbox"]:checked + label span i {display: block;}

input[type="radio"] {
    display:none;
}

input[type="radio"] + label {
    color:#f2f2f2;
    font-family:Arial, sans-serif;
}

input[type="radio"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-2px 10px 0 0;
    vertical-align:middle;
    background:url(./check_radio_sheet.png) -38px top no-repeat;
    cursor:pointer;
}

input[type="radio"]:checked + label span {
    background:url(./check_radio_sheet.png) -57px top no-repeat;
}

* { 
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
}

.newLayout:not(.new) .cursorpointer {
  cursor: pointer !important;
}
.newLayout:not(.new) .sectiontitle {
  cursor: pointer !important;
}
.newLayout.new .sectiontitle {
  cursor: default !important;
}
.cursordefault {
  cursor: default !important;
}

.colapsed tr td .titletext {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 209px;
    display: inline-block;
    white-space: nowrap;
    position: relative;
    top: 0px;
}

.colapsed tr td .titletext.currenttags {
    max-width: 245px;
}

.colapsed tr td .sectiontitle {
    position: relative;
    top: -5px;
}

.colapsed tr td .fa:not(.fa-edit) {
    position: relative;
    top: -4px;
}
.ellipsis {
  position: relative;
}
.ellipsis:before {
  content: '&nbsp;';
  visibility: hidden;
}
.ellipsis span:not(.sectiontitle) {
  position: absolute;
  left: 0;
  right: 0;
  top: 0px;
  white-space: nowrap;
  padding-left: 9px !important;
  overflow: hidden;
  text-overflow: ellipsis;
}

.el:not(.ellipsis) span:not(.sectiontitle):not(.currentinfo) {
  position: relative !important;
  top: -2px !important;
}



/* genericos */

input[type=text] {
  font-size: 12px !important;
  height: 15px;
}
body.big input[type=text] {
  font-size: 15px !important;
  height: 18px;
}


select {
  font-size: 11px !important;
}
body.big select {
  font-size: 15px !important;
  height: 22px;
}


.newLayout .sectiontitle {
  padding-left: 9px;
  font-weight: bold;
  font-size: 12px;
}
body.big .newLayout .sectiontitle {
  font-size: 15px;
  padding-left: 12px;
}

body.big #editCats .sectiontitle {
  position: relative;
  top: -1px;
}
body.big #editInfo .sectiontitle {
  position: relative;
  top: -1px;
}
body.big #editClassif .sectiontitle {
  position: relative;
  top: -3px !important;
}
body.big .newLayout #editInfo .sectiontitle {
  padding-left: 12px !important;
}
body.big .newLayout #editClassif .sectiontitle {
  padding-left: 7px !important;
}

.newLayout .boldtitle {
    font-size: 12px;
}
body.big .newLayout .boldtitle {
    font-size: 15px;
}


.newLayout .titletext {
  line-height: 19px;
  font-size: 11px;
}
body.big .newLayout .titletext {
  line-height: 30px;
  font-size: 15px;
  top: -2px !important;
}
body.big .newLayout .titletext.currenttags {
  line-height: 18px;
}

body.big .newLayout .titletext.originalinfo {
  line-height: 20px;
}
body.big #editCats td:not(.ellipsis) .titletext {
    top: 0px !important;
    line-height: 18px;
}
body.big .newLayout #editTags td.ellipsis .titletext {
  top: 4px !important;
}

body.big .newLayout #editTags td:not(.ellipsis) .titletext {
  top: -1px !important;
  line-height: 18px;
}
body.big .newLayout #editCatss td:not(.ellipsis) .titletext {
    top: -1px !important;
    line-height: 21px;
}
body.big .newLayout #editClassif .titletext {
  top: -5px !important;
}
body.big .newLayout #editClassif .ellipsis .titletext {
  top: -1px !important;
}
.newLayout .fa-undo.mainbutton {
   font-size: 14px !important;
}
body.big .newLayout .fa-undo..mainbutton {
   font-size: 17px !important; 
}


.newLayout .sectiontitletable .sectionedittd i.fa-angle-up {
    font-size: 22px;
    left: -2px;
}
body.big .newLayout .sectiontitletable .sectionedittd i.fa-angle-up {
    font-size: 27px !important;
    left: -5px;
    padding-top: 3px;
}


.newLayout .sectiontitletable .sectionedittd i.fa-edit {
  font-size: 11px;
}
body.big .newLayout .sectiontitletable .sectionedittd i.fa-edit {
  font-size: 15px;
  top: 5px;
}


input[type="checkbox"] + label span {
    width: 13px;
    height: 12px;
    margin: -2px 2px 0 0px;
}
body.big input[type="checkbox"] + label span {
    width: 16px;
    height: 15px;
    margin: -2px 2px 0 0px;
}

input[type="checkbox"] + label span i {
    font-size: 8px;
    top: 2px;
    left: 3px;
}
body.big input[type="checkbox"] + label span i {
    font-size: 8px;
    top: 3px;
    left: 5px;
}

input[type="checkbox"] + label {
    font-size: 11px;
}
body.big input[type="checkbox"] + label {
    font-size: 11px;
}


.newLayout textarea {
    font-size: 14px;
}
body.big .newLayout textarea {
    font-size: 17px;
    margin-top: 3px;
    margin-bottom: 5px;
}

/* topo das settings */

.smallrem {
    font-size: 0.7rem;
}
body.big .smallrem {
    font-size: 1rem;
}


.buttonstable .firsttd {
    font-size: 14px !important;
}
body.big .buttonstable .firsttd {
    font-size: 19px !important;
}

#removetweetp {
    font-size: 18px !important;
}
body.big #removetweetp {
    font-size: 29px !important;
}


#internallinkp {
    font-size: 16px !important;
}
body.big #internallinkp {
    font-size: 22px !important;
    font-weight: bold;
}


body.big #externallinkp {
    font-size: 24px !important;
    font-weight: bold;
}
.body.big #externallinkp {
    font-size: 15px !important;
}


#closepopupp {
    font-size: 18px !important;
}
body.big #closepopupp {
    font-size: 25px !important;
}


/* TAGS das settings */

.newLayout .fa-tags {
    font-size: 13px;
    position: relative;
    top: 0px;
    left: -3px;
}
body.big .newLayout .fa-tags {
    font-size: 17px;
    top: 1px;
    left: -3px;
}


.newLayout ul li {
    font-size: 12px;
    padding-bottom: 0px;
    padding-top: 3px;
    padding-right: 4px;
    height: 17px;
}
body.big .newLayout ul li {
    font-size: 15px;
    padding-bottom: 4px;
    padding-top: 2px;
    font-weight: normal;
}


.newLayout .fa-plus-square.mainbutton {
   font-size: 17px !important;
}
body.big .newLayout .fa-plus-square.mainbutton {
   font-size: 23px !important;
   height: 29px;
   top: 3px !important;
}


.newLayout ul#classiful li {
    height: 16px
}
body.big .newLayout ul#classiful li {
    height: 16px
}





.linkbar {
    font-size: 15px;
    top: -1px;
    width: 20px;
}
body.big .linkbar {
    font-size: 22px;
    top: 3px;
}


.linkbar.fa-internet-explorer {
      /* left: 9px; */
      font-size: 13px;
      top: -1px;
}
body.big .linkbar.fa-internet-explorer {
      font-size: 18px;
      top: 4px;
}


.linkbar.fa-youtube-play{
    /* left: 9px; */
    font-size: 14px;
    top: -1px;
}
body.big .linkbar.fa-youtube-play{
    /* left: 9px; */
    font-size: 19px;
    top: 4px;
}


#expand {
    font-size: 14px;
    top: 4px;
    left: auto;
    transition: all 0.6s;
}

body.big #expand {
    font-size: 20px;
    top: 11px;
    left: auto;
}

#tweetcount {
    padding: 0px 4px !important;
    line-height: 16px !important;
    font-size: 11.5px !important;
}
body.big #tweetcount {
    padding: 2px 6px !important;
    line-height: 20px !important;
    font-size: 14px !important;
}


#tweetcount i:not(#gotop) {
    font-size: 14px !important;
}
body.big #tweetcount i:not(#gotop) {
    font-size: 14px !important;  
}


#tweetcount i.fa-internet-explorer {
    font-size: 12px !important;
}
body.big #tweetcount i.fa-internet-explorer {
    font-size: 14px !important;  
}


#tweetcount > div > div {
    font-size: 12px !important;
    top: -1px !important;
}

body.big #tweetcount > div > div {
    font-size: 14px !important;  
}

#gotop {
    font-size: 20px !important;
    padding-top: 1px;
    bottom: -36px;
}
body.big #tweetcount #gotop {
    font-size: 29px !important;
    padding-top: 0px;
    bottom: -46px;
    width: 20px;
    padding-left: 8px;
    /* padding-bottom: 26px; */
}

.buttonstable tr:first-child .firsttd i.fa-internet-explorer {
    font-size: 13px !important;
    top: 0px !important;
    left: 1px !important;
}

body.big .buttonstable tr:first-child .firsttd i.fa-internet-explorer {
    font-size: 14px !important;
    top: 0px !important;
    left: 1px !important;
}

.buttonstable tr:first-child .firsttd i.fa-youtube-play {
    font-size: 14px !important;
    top: 1px !important;
    left: 2px !important;
}

body.big .buttonstable tr:first-child .firsttd i.fa-youtube-play {
    font-size: 14px !important;
    top: 0px !important;
    left: 1px !important;
}

.buttonstable tr:first-child .firsttd i.fa-twitter {
    font-size: 15px !important;
    top: 1px !important;
    left: 1px !important;
}

body.big .buttonstable tr:first-child .firsttd i.fa-twitter {
    font-size: 22px !important;
    top: 2px !important;
    left: 1px !important;
}

i.clicable:active {
   color: #ffff6c !important;
}

body.big .newLayout > div .buttonstable tr:last-child td {
    /* padding: 9px 0px 8px 0px; */
}


body.notransit * {
  -o-transition-property: none !important;
  -moz-transition-property: none !important;
  -ms-transition-property: none !important;
  -webkit-transition-property: none !important;
  transition-property: none !important;
}

#seticon {
  margin-right: 9px;font-size: 18px;position: relative;top: 2px;
}






