:root {
  
  --high-color: #45cae7;
  --text-color: #6db0bf;
  --dark-color: #001b30;
  --softdark-color: #003156;
  --soft-color: #004a86;
  --soft-transp-color: #45cae787;
  
/*

    --high-color: #7fe745;
  --text-color: #2c6916;
  --dark-color: #670000;
  --softdark-color: #b90000;
  --soft-color: #ff6060;


    --high-color: #232323;
  --text-color: #000000;
  --dark-color: #888888;
  --softdark-color: #b90000;
  --soft-color: #ffffff;
  */
}

.copyright {
  color: var(--high-color);
}

.tweet {
  margin-left: auto;
  margin-right: auto;
  /* border-bottom: 1px solid white; */
  padding-bottom: 30px;
  background-image: linear-gradient(to bottom, #0081cc , #008ada );
  /* height: 30px; */
  }

  .innertweet {
    margin-left: calc(50% - 250px);
    border-radius: 5px;
    background: #a2a2a200 !important;
    border: 0px solid #b0b0b0 !important;
  }
  
  .categorias {
    text-align: center;
    padding-top: 3px;
    display: none;
    padding-bottom: 5px;
    background: #a2a2a200;
    border-top: 1px solid #006097;
  }

  .tags {
    text-align: center;
    padding-top: 4px;
    margin-bottom: -3px;
    background: #0088d600;
    padding-bottom: 5px;
    border-top: 1px solid #006097;
    position: relative;
    top: 2px;
    font-size: 15px !important;
    color: var(--high-color);
  }
  .EmbeddedTweet-tweet {
    background: #80808061;
    border: 1px solid gray;
    border-radius: 0px;
  }

   .addpopup {
    max-width: 808px;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    top: calc(50% - 189px);
    width: 832px;
    height: 376px;
    background: #ffffff;
    color: #0081cd;
    left: calc(50% - 411px);
    padding-left: 10px;
    border: 1px solid #00629a;
    z-index: 9;
   }
 
   #expand {
    position: absolute;
    margin-top: 6px;
    left: 18px;
    cursor: pointer;
    font-size: 23px;
    color: var(--soft-color);
    background: var(--high-color);
    height: 18px;
    line-height: 20px;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 3px;
    transition: all 0.6s;
    z-index: 10;
   }

   .tweet:first-child #expand {margin-top: 6.5px;}
   #expand.expanded {
    margin-top: 3px;
    left: 5px;
   }
 

   #expand.infomodified {
    background: red;
    color: white;
  }

ol > li {
  margin-left: -3px;
  padding-bottom: 6px;
  padding-top: 2px;
  border-top: 1px solid #c7c7c7c2;
}
   #gotop {
    position: fixed;
    bottom: 19px;
    right: calc(50% - 19px);
    font-size: 29px;
    background: #ffffff87;
    /* opacity: 0.6; */
    padding-left: 8px;
    padding-right: 8px;
    font-weight: bold;
    padding-bottom: 2px;
    border-radius: 7px;
    color: #00446a;
    cursor: pointer;
    border: 2px solid #00446a;
    z-index: 13;
    display: none;
   }

   .fa-circle-o-notch {
      color: white;
      font-size: 55px;
      position: relative;
      top: calc(50% - 27px);
      left: calc(50% - 27px);

   }

.innermask {
    position: absolute;
    width: 100%;
    background: rgba(0, 0, 0, 0.31);
    top: -12px;
    z-index: 99999;
    height: 100%;
    display: block;
}
.gradiantback {
    position: absolute;
    width: 100%;
    background: rgba(0, 0, 0, 0.81);
    top: 12px;
    z-index: 9;
    height: 16px;
    background-image: linear-gradient(to bottom, var(--soft-color) 3%, var(--dark-color) 80%);
}
.innermask .fa-circle-o-notch {
  color: #004a86;
  position: relative;
  font-size: 24px;
  top: calc(50% - 12px);
  left: calc(50% - 12px);
  top: 42px;
}

   .fa-folder-open {
    color: var(--high-color);
    font-size: 122px;
    position: relative;
    top: calc(50% - 73px);
    left: calc(50% - 71px);
    border: 10px solid var(--high-color) !important;
    padding-left: 8px;
    padding-top: 5px;
    padding-right: 3px;
    height: 119px;
    border-radius: 0px;
    border-style: solid !important;
    border-left-color: transparent !important;
    border-right-color: transparent !important;
    border-width: 4px !important;
}
   .menubutton {
    font-size: 40px;
    background: #004a86;
    padding-left: 0px;
    padding-right: 5px;
    padding: 6px 11px;
    color: var(--high-color);
    background: #001b30;
    cursor: pointer;
    height: 44px;
    transition: all 0.4s;
    padding-bottom: 5px;
    width: 37px;
    background-image: linear-gradient(to bottom, #003056, #004a86);
    background: transparent;
    }
    .menubutton:hover {
      color: var(--dark-color);
    }
    #menu {
      width: 0px;
      overflow: hidden;
      position: fixed;
      background: white;
      transition: all 0.6s;
      border: 1px solid gray;
      border-left-width: 0px;
      position: absolute;
      left: -1px;
      top: 52px;
    }
    

    #menu > ul {
      list-style: none;
      margin: 0;
      padding-left: 0px;
    }

    #menu > ul > li {
      overflow: hidden;
      white-space: nowrap;
      padding: 10px 0px;
      padding-left: 17px;
      color: #005484;
      border-bottom: 1px solid #c1c1c1;
      cursor: pointer;
      transition: all 0.6s;
      font-weight: bold;
      position: relative;
    }
    #menu > ul > li > div {
    position: absolute;
    right: 3px;
    top: 12px;
    font-size: 13px;
    color: #0169bd;
    text-align: center;
    width: 25px;
    /* top: 10px; */
    }

    #menu > ul > li:hover {
      background: #004873;
      color: white;
    }

    #menu > ul > li:hover > div {
      color: #51b1ff;
    }

    .label {
      color: #0084d0;
      position: absolute;
      top: 8px;
      display: inline;
      font-size: 12px;
      font-weight: bold;
    }          
    
    .label.text {
      left: 124px;
    }
     
    .label.tag {
      left: 315px;
    }
              
    .label.author {
      left: 441px;
    }
              
    .label.date {
      left: 564px;
    }
              
    .label.id {
      left: 724px;
    }

    #sear {
      position: relative;
      color: #004a86;
      font-size: 22px;
      padding-left: 7px;
      padding-right: 17px;
      top: -7px;
      cursor: pointer;
      transition: all 0.6s;
    }
.toptitle {
  color: var(--high-color) !important;
  text-shadow: 3px 3px #c5c5c5;
  cursor: default;
  font-weight: bold;
  width: calc(100% - 280px);
  background: transparent;
  left: 0 !important;
  text-align: center;
  margin-left: 140px;
  top: 8px;
  font-size: 30px;
  position: absolute;
  transition: all 1s;
}
    button {
      cursor: pointer;
      background: #0084d0;
      border: 1px solid white;
      height: 27px;
      color: white;
      font-weight: bold;
      font-size: 12px;
      padding-top: 3px;
      min-width: 82px;
      font-variant: small-caps;
      border-radius: 4px;
      
    }
    button:not(.noeffect) {
      transition: all 0.6s !important;
    }
    button:hover {
      color: #c6e9fd;
      border: 1px solid #0090e4;
    }
    button > i {
      font-size: 14px !important;
      font-weight: normal !important;
      padding-left: 5px;
      padding-right: 2px;
      float: right;
      position: relative;
      top: -1px;
    }

    .buttonIcon {
      color: white;
      font-size: 22px;
      transition: all 0.6s;
    }
    .buttonIcon:hover {
      color: #e4e4e4;
    }
    .buttonIcon.addtweet {
      float: right;
      margin-top: 18px;
      margin-right: 11px;
      margin-right: 11px;
    }

    #addtweet {
      position: absolute;
      color: var(--high-color);
      font-size: 28px;
      top: 11.5px;
      right: 15px;
      transition: all 0.6s;
      cursor: pointer;
    }
        #zoomin {
      position: absolute;
      color: #004a86;
      font-size: 21px;
      top: 14px;
      right: 101px;
      transition: all 0.6s;
      cursor: pointer;
    }
            #zoomout {
      position: absolute;
      color: #004a86;
      font-size: 21px;
      top: 14px;
      right: 132px;
      transition: all 0.6s;
      cursor: pointer;
    }

#generate {
    position: absolute;
    font-size: 20px;
    top: 14px;
    right: 54px;
    transition: all 0.6s;
    cursor: pointer;
    background: #00a900;
    padding: 2px;
    border-radius: 5px;
    color: var(--dark-color);
    background: var(--high-color);
}
#generate:hover {
    opacity: 0.4;
}
#generate.haschanges {
      color: #c30000;
}
    #addtweet:hover {
      color: var(--soft-color);
    }

    #sear:hover {
      color: var(--soft-color);
    }
    .top {
      display: none;
    }

    #closepopup {
      position: absolute;
      color: #0082cd;
      font-size: 27px;
      top: 14px;
      right: 2px;
      transition: all 0.6s;
      cursor: pointer;
    }

        #updatemaxid {
      position: absolute;
      color: #0082cd;
      font-size: 15px;
      top: 43px;
      right: 6px;
      transition: all 0.6s;
      cursor: pointer;
    }

   #removetmp {
      position: absolute;
      color: #0082cd;
      font-size: 18px;
      top: 61px;
      right: 5px;
      transition: all 0.6s;
      cursor: pointer;
    }
    
    input[type="checkbox"] {
      cursor: pointer;
    }

    html, body {
      scroll-behavior: auto;
      font-variant: small-caps;
    }
    
    
    #closepopup:hover {
      color: #e4e4e4;
    }

    #externallink {
      position: absolute;
      cursor: pointer;
      left: 87px;
      margin-top: 2px;
      font-size: 16px;
      transition: all 0.6s;
      display: none;
    }

    .fa-square-o {
      right: 23px;
      font-size: 21px;
      margin-top: -2px;
      font-weight: bold;
      position: absolute;
      cursor: pointer;
      transition: all 0.6s;
    }
    #internallink {
      position: absolute;
      cursor: pointer;
      left: 52px;
      margin-top: 2px;
      font-size: 16px;
      transition: all 0.6s;
      display: none;
    }

    #internallink:hover, #externallink:hover, #expand:hover {
      opacity: 0.7;
     }

     input[type=text] {
      color: white;
      font-weight: bold;
      background: #007cc391;
      border: 1px solid #007dc5;
      padding-left: 4px;
      padding-right: 4px;
     }

    #removetweet {
      position: absolute;
      cursor: pointer;
      font-size: 26px;
      left: 40px;
      margin-top: 0px;
      font-size: 19px;
  }

  #changetag {
    position: absolute;
    cursor: pointer;
    font-size: 26px;
    left: 73px;
    margin-top: 1px;
    font-size: 16px;
}

#changecat {
  position: absolute;
  cursor: pointer;
  margin-top: 1px;
  left: 108px;
  font-size: 16px;
}

.tagtext {
  color: white;
  font-size: 20px;
  position: relative;
  top: calc(50% - 27px);
  left: calc(50% - 250px);
  border: 1px solid white;
  background: #0084d2;
  width: 546px;
  padding-bottom: 9px;
  text-align: center;
}

.striptext {
  color: white;
  font-size: 20px;
  position: relative;
  top: calc(50% - 27px);
  left: calc(50% - 273px);
  border: 1px solid white;
  background: #00456d;
  width: 546px;
  padding-bottom: 9px;
  text-align: center;
  border-radius: 4px;
  font-variant: small-caps;
  transition: top 1s;
}

.topoback {
  background: white;
  width: 100%;
  height: 52px;
  position: absolute;
  z-index: -1;
  border: 0px solid #004a86;
  width: calc(100% - 0px);
  height: 55px;
  background-image: linear-gradient(to bottom, #004a86 85%, #0081cd 95%);
}

.iconbutton {
  position: relative;
  cursor: pointer;
  background: white;
  color: #0082cd;
  padding: 3px 6px;
  font-size: 21px;
  border-radius: 4px;
  width: 18px;
}

.fa-spin {
  animation-duration: 1s;
}

/* twitter-widget {
  width: 100% !important;
}
*/

.linkIframeExpanded {
    border: 1px solid white;
    width: calc(100% - 52px) !important;
    background: white;
    margin-left: 25px !important;
    margin-right: 25px !important;
    position: relative;
    top: 4px;
}

.linkIframeCollapsed {
    width: 500px !important;
    background: white !important;
    margin-top: 6px !important;
    height: 446px !important;
    margin-left: calc(50% - 250px) !important;
    margin-right: auto;
    border: 1px solid white;
    border-radius: 5px;
}


.linkExpanded {
    width: calc(100% - 50px) !important;
    background: white;
    margin-left: 25px !important;
    margin-right: 25px !important;
    position: relative;
    /* top: 4px; */
    border-radius: 5px;
}

twitter-widget {
  width: auto;
}

.linkExpanded twitter-widget {
  width: auto !important;
}

.linkbar {
      font-size: 19px;
      border: 0px solid transparent;
      padding: 0px 4px;
      border-radius: 4px;
      position: absolute;
      right: 13px;
      top: -7px;
      color: var(--high-color);
      background: transparent;
      z-index: 9;
}

.linkbar.fa-internet-explorer {
      font-size: 17px;

}

.hidemode {
  display: none !important;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}


.litags {
  display: inline-block;
  margin-bottom: 3px;
  height: 21px;
  font-size: 13px;
  font-weight: bold;
  border: 1px solid var(--high-color);
  padding-top: 6px;
  background: #0069a621;
  padding-left: 2px;
  padding-right: 2px;
  margin-right: 7px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.7s;
  color: #004f7d;
}

.litags:hover {
  color: var(--dark-color);
  background: var(--high-color);
}

.litags.selectedtag {
  color: var(--dark-color);
  background: var(--high-color);
}

.litags.selectedtag:hover {
    color: var(--high-color) !important;
    background: var(--softdark-color) !important;
}

#backdiv {
  background-image: linear-gradient(to bottom, #0081cd, #008ada) !important;
}
.tweet iframe {
    position: relative;
    top: 4px;
    width: 500px;
    background: white;
    margin-top: 6px;
    height: 446px;
    margin-left: calc(50% - 250px);
    margin-right: auto;
    border: 1px solid #979797;
    border-radius: 5px;
    height: 55vw;
}

.gradiantback {
  display: none;
}

.bottomgradiantback {
  display: none;
}

.newlink {
  background: #009b00;
  color: white;
}
.changedlink {
  background: #fa1f1f;
  color: white;
}
.newchangedlink {
  background-image: linear-gradient(to bottom, #009b00 21%, #fa1f1f 80%);
  color: white;
}

.newtag {
  border-bottom: 2px solid #00c400;
}
@media only screen and (max-width: 1000px) {
    .gradiantback {
        display: block;
    }
        .bottomgradiantback {
        display: block;
    }
      .yt .gradiantback {
        position: absolute;
        width: 100%;
        background: rgba(0, 0, 0, 0.81);
        top: 9px;
        z-index: 9;
        height: 23px;
        display: block;
        background-image: linear-gradient(to bottom, var(--soft-color) 10%, var(--dark-color) 100%);
    }
      .html .gradiantback {
        position: absolute;
        width: 100%;
        background: rgba(0, 0, 0, 0.81);
        top: 12px;
        z-index: 9;
        height: 18px;
        display: block;
        background-image: linear-gradient(to bottom,var(--soft-color) 3%, var(--softdark-color) 87%);
    }
    .tweet:not(:last-child) .bottomgradiantback {
      position: absolute;
      width: 100%;
      background: rgba(0, 0, 0, 0.81);
      z-index: 9;
      height: 21px;
      background-image: linear-gradient(to bottom, var(--dark-color) 3%, var(--soft-color) 80%);
      top: auto;
      bottom: 3px;
    }
    .tweet.html:not(:last-child) .bottomgradiantback {
        bottom: 2px;
    }
        

    .yt.tweet .bottomgradiantback {
      background-image: linear-gradient(to bottom, var(--dark-color) 13%, var(--soft-color) 80%);
      }
      .html.tweet .bottomgradiantback {
      background-image: linear-gradient(to bottom, var(--softdark-color) 15%, var(--soft-color) 85%);
      } 
        .tweet iframe {
        width: calc(100% - 0px) !important;
        background: white;
        margin-left: 0px !important;
        margin-right: 12px !important;
        border-radius: 0px !important;
        border-top: 0 !important;
        margin-bottom: 22px;
        margin-top: 0px !important;
        border: 0px solid white;
        }
        .tweet.html iframe {
          margin-top: 0px !important;
          }
        

        .tweet.html iframe {
            width: calc(100% - 0px) !important;
            border: 0px solid #bbbbbb;
            height: 72vw;
        }

                .tweet.yt {
            background: #101010;
        }
                .tweet.html {
            background: #002646;
            top: 0px;
        }
        #backdiv {
          background-image: linear-gradient(var(--soft-color), var(--softdark-color)) !important;
        }
        .tweet .innertweet {
            width: calc(100% - 50px) !important;
            background: white;
            margin-left: 25px !important;
            margin-right: 25px !important;
            position: relative;
            top: 10px;
            border-radius: 5px;
            border: 1px solid white;
        }  
        twitter-widget {
            width: 100% !important;
        }
        .fa-square-o {
          display: none;
        }
        .tweet {
          padding-bottom: 0px;
          position: relative;
          background-image: linear-gradient(to bottom, #002441, #002442);
          top: 0px;
          height: calc(100% - 43px);
          background: #004a86;
          background: red;
          background-image: linear-gradient(to bottom, #004a86 3%, #002442 80%);
        }
        .tweet:first-child {
              margin-top: 11px;
        }
        .tags {
          padding-top: 5px;
          margin-bottom: 0px;
          background: #0088d600;
          padding-bottom: 5px;
          border-top: 0px solid #d00b0b;
          position: relative;
          top: -11px;
          height: 16px;
          border-bottom-width: 0px !important;
          background: var(--soft-color) !important;
        }
        
        .tagtext {
        height: 101px;
        }
        
        .tweet .innertweet {
            width: calc(100% - 0px) !important;
            margin-left: 0px !important;
            margin-right: 0px !important;
            top: -12px;
        }  

        .toptitle {
          top: 10px;
          font-size: 25px;
        }
        #addtweet {
          font-size: 26px;
          top: 13px;
      }
      #generate {
        font-size: 18px;
        top: 15px;
        right: 44px;
      } 
        .topoback {

        }

        #openadd {
          right: 129px !important;
        }
                #zoomin {
        position: absolute;
        color: #004a86;
        font-size: 15px;
        top: 18px;
        right: 79px;
        transition: all 0.6s;
        cursor: pointer;
    }
    #zoomout {
        position: absolute;
        color: #004a86;
        font-size: 15px;
        top: 18px;
        right: 104px;
        transition: all 0.6s;
        cursor: pointer;
    }
    .topoback {
        background: white;
        width: 100%;
        height: 52px;
        position: absolute;
        z-index: -1;
        border: 0px solid #004a86;
        width: calc(100% - 0px);
        height: 55px;
        background-image: linear-gradient(to bottom, var(--softdark-color), var(--soft-color));
      }    
      #backdiv {
      /* background-image:linear-gradient(rgb(0, 104, 165), rgb(0, 139, 222)) !important; */
      }
      #sear {
        position: relative;
        color: var(--high-color);
        font-size: 18px;
        padding-left: 7px;
        padding-right: 17px;
        top: -9px;
        cursor: pointer;
        transition: all 0.6s;
    }
    .tweetcount {
      background: rgba(255, 255, 255, 0.65) !important;
    }
     #expand {
        margin-top: -6px;
        left: 18px;
      }     
      .tweet:first-child #expand {
          margin-top: -7px;
      }  
      #main {
            margin-top: 2px !important;
      }
      .innermask {
          background: rgba(0, 0, 0, 0.81);
      }
}

@media only screen and (max-width: 700px) {
    .toptitle {
      top: 10px;
      font-size: 17px;
      /* padding-left: calc(50% - 103px); */
      display: block;
      text-align: center;
      width: 100px;
      line-height: 15px;
      font-weight: bold;
      left: calc(50% - 50px) !important;
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      text-shadow: none;
      color: #5c8cb3;
      color: #7ba8ca;
  }
    #addtweet {
      font-size: 22px;
      top: 14px;
    }  
    #generate {
      font-size: 15px;
      top: 16px;
      right: 40px;
      padding-left: 1px;
     } 
        #openadd {
          right: 115px !important;
        }
        #zoomin {
        position: absolute;
        color: var(--high-color);
        font-size: 15px;
        top: 18px;
        right: 70px;
        transition: all 0.6s;
        cursor: pointer;
    }
    #zoomout {
        position: absolute;
        color: var(--high-color);
        font-size: 15px;
        top: 18px;
        right: 94px;
        transition: all 0.6s;
        cursor: pointer;
    }
}

#zoomin:hover {
    color: var(--soft-color);
}
#zoomout:hover {
    color: var(--soft-color);
}
    
.newLayout {
    position: fixed;
    width: 100%;
    height: calc(100% - 0px);
    top: 0px;
    z-index: 1000000;
    font-size: 11px;
    background-image: linear-gradient(rgb(0, 74, 134), rgb(1, 36, 62));
    display: none;
    border-top: 1px solid var(--softdark-color);
    background: var(--soft-transp-color);
    border-top: 1px solid transparent;
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    background: #0000009e;
}

.newLayout > div {
    background: var(--dark-color);
    max-height: calc(100% - 60px);
    width: calc(100% - 50px);
    margin: 25px;
    border: 1px solid var(--soft-color);
    margin-top: 32px;
    margin-bottom: 28px;
    border-radius: 4px;
    font-size: 12px;
    color: #004a86;
    padding-bottom: 6px;
    overflow-y: auto;
}

.newLayout > div .titletable {
    font-size: 14px;
    width: 100%;
    padding-top: 3px;
    color: var(--high-color);
    position: fixed;
    background: red;
    padding-bottom: 6px;
    width: calc(100% - 52px);
    z-index: 1;
    background: var(--dark-color);
    /* background: green; */
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    /* border-bottom: 1px solid var(--soft-color); */
}

.newLayout > div .author {
  color: var(--text-color);
}
.newLayout > div .id {
  color: var(--text-color);
}
.newLayout > div .date {
  color: var(--text-color);
}
.newLayout > div .titletable tr:first-child .firsttd {
    width: 100%;
    padding-left: 2px;
    padding-bottom: 9px;
    text-align: center;
}

.newLayout > div .titletable .middletd {
    width: 50%;
    text-align: center;
}

.newLayout > div .titletable .lasttd {
    width: 25%;
    text-align: right;
    padding-right: 10px;
}

.newLayout > div .buttonstr td { 
    transition: all 0.6s;
    cursor: pointer
}

.newLayout > div .buttonstr td:hover { 
    opacity: 0.6;
}

.newLayout > div .buttonstable tr:last-child td {
    padding: 3px 2px 3px 2px;
    background: var(--softdark-color);
    width: 25%;
}


.newLayout #removetweetp {
    cursor: pointer;
    font-size: 18px;
    position: initial;
    transition: all 0.6s;
}

.newLayout #internallinkp {
    position: initial;
    cursor: pointer;
    font-size: 15px;
    transition: all 0.6s;
    display: initial;
}

.newLayout #externallinkp {
    position: initial;
    cursor: pointer;
    font-size: 15px;
    transition: all 0.6s;
    display: initial;
}

.newLayout #closepopupp {
    display: block;
    cursor: pointer;
    font-size: 18px;
    transition: all 0.6s;
    line-height: 17px;
}

.newLayout .sectiontitletable td {
  /* background: #002440; */
  /* color: #b2cbde; */
}


.newLayout .sectiontitletable .sectionicontd {
  width: 94%;
  text-align: left;
  padding-left: 9px;
}

.newLayout .currenttags {
  text-align: left;
  padding-left: 14px;
  color: var(--text-color);
}

.newLayout .sectiontitletable .sectiontitletd {
  width: 70%;
  text-align: center;
  font-weight: bold;
  /* padding-top: 2px; */
}

.newLayout .sectiontitletable .sectionedittd {
  width: 15%;
  text-align: right;
  padding-right: 5px;
  font-size: 15px;
}

.newLayout .detailtable, .newLayout .sectiontitletable {
    width: calc(100% - 14px);
    background: var(--softdark-color);
    margin-left: 0px;
    color: var(--high-color);
    padding: 4px;
    /* margin-top: 65px; */
    margin-left: 7px;
    /* background-image: linear-gradient(to bottom, var(--softdark-color), var(--dark-color)); */
}

.newLayout .sectiontitletable {
    cursor: pointer;
    margin-top: 7px;
}
.newLayout .detailtable {
    padding: 3px 5px;
    color: #b2cbde;
    transition: height 0.6s;
    background-image: linear-gradient(to bottom, var(--softdark-color), var(--dark-color) 150%);
}
.newLayout .detailtable tr {
    vertical-align: super;
}

.boldtitle {
    font-weight: bold;
    padding-right: 7px;
    color: var(--high-color);
}

.newLayout .sectiontitle {
  padding-left: 9px;
  font-weight: bold;   
}

.newLayout input {
    width: 98%;
    color: var(--dark-color);
    font-weight: bold;
    background: var(--high-color);
    padding: 1px 4px;
    border: 1px solid #002133;
    outline: none;
    position: relative;
}

.newLayout ul {
    width: 100%;
    height: 138px;
    padding-left: 3px;
    padding-top: 3px;
    overflow-y: auto;
    z-index: 99;
    display: block;
    margin-top: 6px;
    margin-bottom: 0;
}

.newLayout ul li {
    color: var(--high-color);
    cursor: pointer;
    padding: 5px 4px;
    height: 18px;
    padding-right: 3px;
    background: var(--soft-color);
}

.newLayout select {
    height: 19px;
    width: calc(100% - 7px);
    outline: none;
    margin-left: 8px;
    position: relative;
    color: var(--dark-color);
    font-weight: bold;
    background: var(--high-color);
    padding: 1px 4px;
    border: 1px solid var(--dark-color);
    top: 1px;
    cursor: pointer;
}

/****************************************/

select {
    height: 19px;
    width: 100%;
    outline: none;
    color: #002133;
    font-weight: bold;
    background: #a6b9fd;
    padding: 1px 4px;
    border: 1px solid #002133;
    cursor: pointer;
}

input {
    width: 100%;
    color: #002133;
    font-weight: bold;
    background: #a6b9fd;
    padding: 1px 4px;
    border: 1px solid #002133;
    font-variant: small-caps;
}
select, textarea {
    font-variant: small-caps;
}
.newLayout .fa-bookmark {
    font-size: 14px;
}
.newLayout .fa-tags {
    font-size: 13px;
}
.mainbutton {
    color: var(--high-color);
    cursor: pointer;
}

.smallrem {
    font-size: 0.75rem;
}

.topoback2 {
    background: white;
    left: 57px;
    width: calc(100% - 68px);
    top: 7px;
    height: 34px;
    border-radius: 5px;
    border: 2px solid #707070;
    border: 2px solid var(--dark-color);
    background: var(--dark-color);
}

::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

.newLayout > div::-webkit-scrollbar { width: 0 !important }
.newLayout > div { overflow: -moz-scrollbars-none; }
.newLayout > div { -ms-overflow-style: none; }

input[type="checkbox"] {
    /* display:none; */
}

.checkstyleddiv {
    width: 108px;
    display: inline-block;
}

.checkstyleddiv input {
    position: relative;
    top: 11px;
    left: -47px;
    z-index: 1;
    opacity: 0;
}


input[type="checkbox"] + label {
    color: var(--text-color);
    font-size: 11px;
}

input[type="checkbox"] + label span {
    display:inline-block;
    width: 16px;
    height: 16px;
    margin: -2px 6px 0 0px;
    vertical-align:middle;
    background:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/check_radio_sheet.png) left top no-repeat;
    cursor:pointer;
    background: red;
    border-radius: 4px;
    border: 1px solid var(--high-color);
    background: var(--dark-color);
}

input[type="checkbox"] + label span i {display: none;font-size: 15px;position: relative;top: -1px;left: 1px;transition: all 0.6s;color: var(--high-color);}

input[type="checkbox"]:checked + label span i {display: block;}

input[type="radio"] {
    display:none;
}

input[type="radio"] + label {
    color:#f2f2f2;
    font-family:Arial, sans-serif;
}

input[type="radio"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-2px 10px 0 0;
    vertical-align:middle;
    background:url(./check_radio_sheet.png) -38px top no-repeat;
    cursor:pointer;
}

input[type="radio"]:checked + label span {
    background:url(./check_radio_sheet.png) -57px top no-repeat;
}

