.tweet {
  margin-left: auto;
  margin-right: auto;
  /* border-bottom: 1px solid white; */
  padding-bottom: 30px;
  background-image: linear-gradient(to bottom, #0081cc , #008ada );
  }

  .tweet:not(first-child) {/* margin-top: 15px; */}
  .innertweet {
    margin-left: calc(50% - 250px);
  }
  
  .categorias {
    text-align: center;
    padding-top: 3px;
    display: none;
    padding-bottom: 5px;
    background: #a2a2a200;
    border-top: 1px solid #00004e;
  }

  .tags {
    text-align: center;
    padding-top: 4px;
    margin-bottom: -3px;
    background: #0088d600;
    padding-bottom: 3px;
    border-top: 1px solid #00004e;
  }
  .EmbeddedTweet-tweet {
    background: #80808061;
    border: 1px solid gray;
    border-radius: 0px;
  }

   .addpopup {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    top: 100px;
    width: 800px;
    height: 500px;
    background: #929292;
    color: white;
    left: calc(50% - 400px);
    padding-left: 10px;
    border: 1px solid #adabab;
   }

   #main:first-child {
         border-top: 1px solid #d4d4d4;
         margin-top: 0px;
   }  
   .tweet:first-child {
         border-top: 1px solid #d4d4d4;
         margin-top: 0px;
         /* background-image: linear-gradient(to bottom, #84d2ff , #006cab ); */
   }  
   #expand {
    position: absolute;
    margin-top: 0px;
    left: 8px;
    cursor: pointer;
    font-size: 26px;
   }

   #gotop {
    position: fixed;
    bottom: 30px;
    right: 29px;
    font-size: 30px;
    background: white;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 4px;
    color: #313131;
    cursor: pointer;
    display: none;
   }

   .fa-circle-o-notch {
      color: white;
      font-size: 55px;
      position: relative;
      top: calc(50% - 27px);
      left: calc(50% - 27px);
   }
   .fa-twitter {
    color: white;
    font-size: 151px;
    position: relative;
    top: calc(50% - 89px);
    left: calc(50% - 75px);
 }
   .menubutton {
    font-size: 38px;
    background: white;
    padding-left: 5px;
    padding-right: 5px;
    padding: 6px 10px;
    color: #0084d0;
    cursor: pointer;
    height: 41px;
    transition: all 0.6s;
    padding-bottom: 5px;
    }
    .menubutton:hover {
      color: #16aaff;
    }
    #menu {
      width: 0px;
      overflow: hidden;
      position: fixed;
      background: white;
      transition: all 0.6s;
      border: 1px solid gray;
      border-left-width: 0px;
      position: absolute;
      left: -1px;
    }
    

    #menu > ul {
      list-style: none;
      margin: 0;
      padding-left: 0px;
    }

    #menu > ul > li {
      overflow: hidden;
      white-space: nowrap;
      padding: 10px 0px;
      padding-left: 17px;
      color: #0099f3;
      border-bottom: 1px solid #c1c1c1;
      cursor: pointer;
      transition: all 0.6s;
      font-weight: bold;
    }
    #menu > ul > li:hover {
      background: #0089da;
      color: white;
    }

    .label {
      color: white;
      position: absolute;
      top: 5px;
      display: inline;
      font-size: 13px;
    }          
    
    .label.text {
      left: 122px;
    }
     
    .label.tag {
      left: 309px;
    }
              
    .label.author {
      left: 428px;
    }
              
    .label.date {
      left: 546px;
    }
              
    .label.id {
      left: 694px;
    }

    #sear {
      position: relative;
      color: white;
      font-size: 27px;
      padding-left: 16px;
      padding-right: 17px;
      top: -4px;
      cursor: pointer;
      transition: all 0.6s;
    }

    button {
      cursor: pointer;
      background: white;
      border: 1px solid white;
      height: 24px;
      color: #00639c;
      font-weight: bold;
      font-size: 12px;
      padding-top: 3px;
      transition: all 0.6s;
      min-width: 82px;
    }
    button:hover {
      color: #0095ea;
      border: 1px solid #0090e4;
    }
    button > i {
      font-size: 14px !important;
      font-weight: normal !important;
      padding-left: 5px;
      padding-right: 2px;
      float: right;
      position: relative;
      top: -1px;
    }

    .buttonIcon {
      color: white;
      font-size: 22px;
      transition: all 0.6s;
    }
    .buttonIcon:hover {
      color: #e4e4e4;
    }
    .buttonIcon.addtweet {
      float: right;
      margin-top: 18px;
      margin-right: 11px;
      margin-right: 11px;
    }

    #addtweet {
      position: absolute;
      color: white;
      font-size: 27px;
      top: 13px;
      right: 13px;
      transition: all 0.6s;
      cursor: pointer;
    }

    #addtweet:hover {
      color: #58c1fd;
    }

    #sear:hover {
      color: #58c1fd;
    }
    .top {
      display: none;
    }

    #closepopup {
      position: absolute;
      color: white;
      font-size: 27px;
      top: 2px;
      right: 8px;
      transition: all 0.6s;
      cursor: pointer;
    }

    html, body {
      scroll-behavior: smooth;
    }
    
    
    #closepopup:hover {
      color: #e4e4e4;
    }

    #externallink {
      position: absolute;
      cursor: pointer;
      font-size: 26px;
      left: 73px;
      margin-top: 1px;
      font-size: 16px;
    }

    #internallink {
      position: absolute;
      cursor: pointer;
      font-size: 26px;
      left: 40px;
      margin-top: 0px;
      font-size: 16px;
    }

    #internallink:hover, #externallink:hover, #expand:hover {
      opacity: 0.7;
     }

     input[type=text] {
      color: #0094ea;
      font-weight: bold;
     }